.container {
    display: flex;
    flex-direction: column;
    margin-top: 30;
}

.ant-select-selection {
    background-color: transparent;
}
.antInput {
    border: 0.6px solid rgb(156, 198, 214);
}
.antInput:disabled {  
    background-color: white;
    color: #000;
    border: 0.6px solid rgb(156, 198, 214);
 
}

